@media (max-width: 600px){
    header nav{
        flex-direction: column;
        padding-top: 1em;
    }

    header nav ul{
        margin-top: 1em;
    }

    .header-title{
        padding: 4em 0;
    }

    .our-dogs ul li img{
        width: 200px;
        height: 200px;
    }

    .helpNeed ul{
        flex-direction: column;
    }
}